*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fix {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

section
{
    display: flex;
    background-color: rgb(67, 66, 93);
    width: 100%;
    height: 120px;
}



.overhead{
    position: absolute;
    display: inline-flex;
    align-content: center;

    border-radius: 10px 10px 10px 10px;
    width: 70%;
    height: 110px;
    left: 17%;
    top: 60px;
    border: 0;
    background-color: white;
    box-shadow: none;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.overmid{   
    position: absolute;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    width: 70%;
    height: 40%;
    left: 17%;
    top: 200px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}


.overleft{
    position: absolute;
    display: inline-flex;
    align-content: center;
    border-radius: 10px 10px 10px 10px;
    width: 38%;
    height: 40%;
    left: 17%;
    top: 600px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.overhead #checkon {
    position: relative;
    left: 20px;
}

.overright{
    position: absolute;
    display: inline-flex;
    align-content: center;
    border-radius: 10px 10px 10px 10px;
    width: 30%;
    height: 40%;
    right: 13%;
    top: 600px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%)
}

.servico{
    position: absolute;
    top: 15px;
    left: 15px;
}

#novadiv {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    height: 100%;
    right: 100%;
}

#centro {
    position: absolute;
    top: 20px;
    left: 40%;
    font-size: 15px;
}

#list{
    position: absolute;
    width: 95%;
    top: 60px;
    left: 30px;
    font: 1em sans-serif;
    font-size: 19px;
    color: #646d7b;
}

#list .serv{
    align-items: center;
    display: inline-flex;
    height: 48px;

}

#list .bar{
    width: 92%;
    height: 2px;
    background-color: rgb(225, 232, 239);
}

.container{
    line-height: center;
    position: absolute;
    top: 10px;
    height: 50px;
    right: 20px;
    display: inline-block;
}
.content-tooltip{
    position: relative;
    cursor: pointer;
    padding: 2px;
}
.tooltip-text{
    position: absolute;
    right: -140px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
.content-tooltip:hover .tooltip-text{
    width: 120px;
    height: 60px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}